.footer {
    height: 400px;
    background-color: steelblue; /*Isabelline */
    margin-top: auto; /* Push the footer to the bottom */
    display: flex;
    justify-content: center; /* Center the button horizontally */
    align-items: center; /* Center the button vertically */
    
}

.footer button {
    position: relative;
    left: 300px;
    color: black; /* Black text for visibility */
  
  
    border-radius: 4px; /* Optional: Rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.footer button:hover {
    background-color: black; /* Change background on hover */
    color: white; /* Invert text color on hover */
}


.footer .left-card{
    background-color: black;
    padding-top: 50px;
    position: relative;
    bottom: -50px;
    width: 200px;
    height: 150px;
    right: 500px;
    border-radius: 10px;
 
}

.footer .left-card h3, p{
    color: white;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
    position: relative;
    bottom: 50px;
    left: 50px;

    color: white;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
}
