@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body, html {
    margin: 0;
    padding: 0;
    height: 50%; /* Ensure the body and html take full height */
}


.header {
    width: 100%; /* Full width of the viewport */
    height: 70vh; /* Set the height of the footer */
   
    display: flex;
    justify-content: flex-start; /* Center the button horizontally */
    box-sizing: border-box;
    background: url('../assets/Header/paths.gif');
    align-items: center; /* Center the button vertically */
}


.profile-pic{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 50%
}

.text {
    box-sizing: border-box;
    display: flex;
    width: 544px;
    padding: 0; /* Remove padding */
    flex-direction: column;
    align-items: flex-start;
    gap: 0; /* Remove gap between elements */
    margin-top: 100px;
    background-color: black;
    border-radius: 10px;
    padding: 30px 0px 30px 30px;
    margin-left: 100px;
}

.text h2 {
    color: var(--Neutral-White, #FFF);
    font-family: "Bebas Neue";
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 1; /* Reduce line height */
    margin: 0; /* Remove margin */
    margin-bottom: 30px;
   

  
}

.text p {
    color: rgba(245, 245, 245, 0.784);
    text-align: left;
    margin: 20px 0 0 0; /* Negative top margin to push it upwards */
    padding: 0; /* Remove padding */
    line-height: 1.2; /* Adjust line height for better spacing */
    position: relative;
    bottom: 20px; /* Adjust this value to move the text upwards */
    left: -15px; /* Adjust this value to move the text to the left */
    text-align: justify;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.images{
    display: flex;
    align-items: flex-start;
}

.images img{
    margin: 20px 10px 0px 0px;
    cursor: pointer;
}


#light {
    position: relative;
    top: 150px;
    width: 100%; /* Ensure it spans the full width */
    height: 400px; /* Adjust based on your design */
    overflow: hidden; /* Prevent lines from overflowing */
}
#lineh1{
    position: absolute;
    right: 0;
    height: 10px;
    background: steelblue;
    animation: lineH 4s 5s infinite linear;
}
#lineh2{
    position: absolute;
    left: 0;
    top: 40px;
    height: 10px;
    background:steelblue;
    animation: lineH 5s 0.5s infinite linear;
}

@keyframes lineH{
    0%{
        width: 0%;
        opacity: 1;
    }
    100%{
width: 95%;
opacity: 0;
}
}
