@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Manrope:400,700&display=swap');

:root{
    --dull-color: #000;
    /* default primary color used by main-bg design for stars */
    --primary-color: #ffffff;
    --hover-color: rgb(87, 92, 97);
    --white-plain: #fff;
    --dim-white: #C7C7C7;
    --intro-blue: #152A4F;
    --white2: #D9D9D9;
    --cool-blue: #737e92;
    --minor-text: #333;

    --red: #d62828;
    --animOne: #C0C0C0;
    --animTwo: #A0A0A0;
    --animeThree: #f9f9f9;
}

/* Ensure page content sits above the decorative background */
.page-content {
    position: relative;
    z-index: 1;
 
}


html, body{
    width: auto;
    height: 100%;
  

}

.titleleft{
        animation: slide 3s infinite alternate;
}

@keyframes slide {
    0% {
        left: 0;
    }
    100% {
        left: 20px; 
    }
}

@media (max-width: 400px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .intro {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 10px;
    }

    .leftCard, .rightCard {
        width: 100%;
        margin: 5px 0;
        padding-left: px;
    }

    .leftCard h1{
        font-size: 10px;
        font-weight: 700;
        color: var(--white-plain);
    }
    .leftCard p {
        font-size: 16px;
        color: var(--dim-white);
      
    }

    .projects {
        width: 100%;
        padding: 10px;
    }

    .project-card {
        width: 100%;
        margin: 10px auto;
    }

    .education {
        width: 100%;
        padding: 10px;
    }

    .eduCard {
        width: 100%;
        margin: 10px auto;
    }

    .contact {
        width: 100%;
        padding: 10px;
    }

    .contact-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}


