/* Style for the .title link in the navbar */
.title {
  color: var(--smoke);
  font-weight: 700;
  font-size: 1.3rem;
  text-decoration: none;
}
/*start of navbar.css */
h2 {
  vertical-align: center;
  text-align: center;
}

html, body {
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #FFF;
  height: 50px;
  padding: 3em;
}

.titleleft {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1.5px;
  overflow: hidden;
  white-space: nowrap;
  
}

.title{
  text-decoration: none;
}

.menu {
  z-index: 9999;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li a{
  color: var(--smoke);
  font-family: "Bitcount Grid Single", system-ui;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; 
  letter-spacing: 1px;
}
.menu li a:hover {
  color: var(--Neutral-White, --white-plain);
  text-decoration: underline;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: var(--white-plain);
  position: absolute;
  height: 4px;
  width: 30px;
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.cctcme {
  max-width: 100%;
  height: auto;
  display: block;
}


/*phone*/
@media only screen and (min-width: 425px) and (max-width: 700px){

  .cctcme {
    width: 150px !important;
  }

   .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 80px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
  
    margin-bottom: 2px;
}
    #menu-toggle ~ .menu li:hover {
        background-color: var(--cool-blue);
    }
  .menu > li {
    z-index: 1;
    display: flex;
    justify-content: center;
    margin: 2px 2px 2px 2px;
    padding: 0.5em 0.5em 0.5em 0.5em;
    width: 50%;
    border-radius: 10px;
    color: white;
    background-color: #222;
   

  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .top-nav {
    padding: 2em;
  }

  .titleleft {
    font-size: 2.5rem;
    margin-top: 2.5rem;
  }

  .menu {
    margin-top: 2.5rem;
  }
  .menu li a {
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    
  }
}

/*end of navbar.css */