@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");


.ProjectsBody{
    position: relative;
    height: auto;
    width: 100%; /* Full width of the viewport */
    background-color: #0d1321; /* Rich Black */
    margin-top: auto; /* Push the footer to the bottom */
   
    justify-content: flex-start; /* Center the button horizontally */
   
    
    padding: 50px 50px;
    align-items: center; /* Center the button vertically */

    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
   
     
}

.ProjectsBody h2{
    font-size: 35px;
    position: relative;
    bottom: 30px;
    left: -15px;

    color: #eef0f2;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
 
}
.ProjectsBody .pj1 h3, 
.ProjectsBody .pj2 h3, 
.ProjectsBody .pj3 h3{
    color: black;
    font-family: "Space Mono", monospace;
    font-size: 25px;
    font-weight: 700;
    font-style: normal;
    position: relative;
    bottom: 160px;
    left: 220px;
}

.ProjectsBody .pj1 p,
.ProjectsBody .pj2 p,
.ProjectsBody .pj3 p{
    color: black;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    position: relative;
    bottom: 10px;
    left: -50px;
    text-align: justify;
    line-height: 1.5;
}

.ProjectsBody .pj1 h5,
.ProjectsBody .pj2 h5,
.ProjectsBody .pj3 h5{
    color: white;
    position: relative;
    text-align: center;
    bottom: 160px;
    left: 220px;
}

.ProjectsBody .pj1,
.ProjectsBody .pj2,
.ProjectsBody .pj3{
    padding-top: 50px;
    margin-bottom: 20px;

}

.ProjectsBody .pj1,
.ProjectsBody .pj2,
.ProjectsBody .pj3 {
    position: relative;
    border-radius: 50px;
    background-color: #e0dfd5;
    border-style:ridge;
    border-color: whitesmoke;
    width: 100%;
    height: 350px; /* Automatically adjust height based on content */
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
    justify-content: flex-start; /* Align items to the left */
    padding-bottom: 80px;
}

.ProjectsBody .pj1 .left-card,
.ProjectsBody .pj2 .left-card,
.ProjectsBody .pj3 .left-card{
    width: 35%;
    height: 100%;
    border-radius: 1rem;
    text-align: center;
    align-items: center;

    margin: 80px 0px 0px 20px;
  
}

.ProjectsBody .pj1 .right-card,
.ProjectsBody .pj2 .right-card,
.ProjectsBody .pj3 .right-card{
    width: 50%;
    height: 100%;

    border-radius: 2rem;
    text-align: center;
    align-items: center;

    margin: 80px 110px 0px 0px;
  
}

.ProjectsBody .pj1 .featurelist,
.ProjectsBody .pj2 .featurelist,
.ProjectsBody .pj3 .featurelist{
    margin: 0px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start; /* Aligns items to the left */
    justify-content: center;
    font-weight: bold;
   
}


.proj2image, .proj3image{
    width: 65%;
    height: 65%;
    border-radius: 15px;
    margin: 30px 0px 0px 0px;
    background-color: black;
    padding: 10px;
}

.pj1 .buttonlinks,
.pj2 .buttonlinks,
.pj3 .buttonlinks{
    margin-right: 50px;;
    background-color: black; /* Green background */
    color: white; /* White text */
    padding: 10px 10px; /* Adjust padding */
    font-size: 16px;
    border: none; /* Remove default borders */
    cursor: pointer;
    border-radius: 5px; /* Rounded corners */
    transition: background 0.3s ease-in-out;
}

.pj1 .buttonlinks:hover, 
.pj2 .buttonlinks:hover, 
.pj3 .buttonlinks:hover {
    background-color: maroon; /* Changes color on hover */
}
